<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore Web App</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'iconoir.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- Modal for Login/Signup -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <form id="loginForm" method="POST" action="{% url 'auth' %}">
                {% csrf_token %}
                <h2>Login</h2>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p id="switch_login_form">Don't have an account? <a href="#" onclick="switchToSignup()">Sign Up</a></p>
        </div>
    </div>
    <div id="particles-js"></div>
    <div class="content">
        <header>
            <nav class="navbar">
                <a href="{% url 'landing-page' %}"><h1>OnlyBooks</h1></a>
                <ul>
                    <li><a href="{% url 'books' %}">Browse</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'landing-page' %}#recommendations">Recommendations</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                </ul>
                <div>
                {% if not request.user.is_authenticated %}
                    <button class="login-btn" onclick="toggleModal()">Login / Sign Up</button>
                {% else %}
                    <a href="/profile/0" class="login-btn">Profile</a>
                    <a href="/logout" class="login-btn">Logout</a>
                {% endif %}
                </div>
            </nav>
            <div class="hero">
                <h2>
                    {% if page == 'events' %}
                        Discover Your Next Favorite Event
                    {% elif page == 'about' %}
                        Curated With Love By
                    {% elif page == 'landing-page' %}
                        Discover Your Next Favorite Book
                    {% endif %}
                </h2>
                {% if page == 'events' or page == 'landing-page' %}
                    <p>Browse thousands of books, curated collections, and personalized recommendations.</p>
                {% endif %}
                {% if page == 'landing-page' %}
                    <input aria-label="Search Term" type="text" placeholder="Search for books, authors, genres...">
                    <button onclick="searchBooks()">Search Now</button>
                {% endif %}
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', "{% static 'json/particles.json' %}", function() {
            console.log('particles.js loaded');
        });
    </script>
</body>
</html>
