.books {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.book {
    display: flex;
    gap: 0.5rem;
    background-color: #79535e;
    filter: drop-shadow(0 0 0.5rem black);
    position: relative;
    z-index: 20;
    color: white;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.book:hover {
    background-color: #936371;
}
.book > img {
    border-radius: 0.5rem;
    height: 250px;
}
.info {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 2.5rem;
}
.author {
    font-size: 1.5rem;
}
.label {
    font-weight: 300;
    font-size: 1rem;
}
.label_group {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.pages {
    font-size: 0.7rem;
}
.tags {
    font-size: 0.7rem;
}
.tag {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #3b2e8e;
}
