.categories {
    padding: 20px;
    text-align: center;
    z-index: 20;
    position: relative;
}

.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    background: #3b2e8e; /* Dark blue */
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.recommendations {
    padding: 20px;
    text-align: center;
}

.book-container {
    display: flex;
    justify-content: center;
}

.book {
    margin: 10px;
    text-align: center;
    background: #f4f4f4; /* Light Gray */
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.books {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: auto auto 2rem;
}
.book {
    display: flex;
    gap: 0.25rem;
    width: 70%;
    background-color: rgba(202, 185, 190, 0.44);
    filter: drop-shadow(0 0 0.5rem black);
    position: relative;
    z-index: 20;
    color: white;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.book:hover {
    background-color: rgba(189, 94, 122, 0.44);
}
.book > img {
    border-radius: 0.25rem;
    height: 125px;
}
.info {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 1.25rem;
}
.author {
    font-size: 0.75rem;
}
.label {
    font-weight: 300;
    font-size: 0.5rem;
}
.label_group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.pages {
    font-size: 0.7rem;
}
.tags {
    font-size: 0.7rem;
}
.tag {
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    background-color: #3b2e8e;
}
