{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div>
            <div>Aargh Rai</div>
            <div class="connections">
                <a href="https://github.com/FloatingComet62">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/aargh-rai-40900524a/">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>

        </div>
        <div>
            <div>Ojesh Srivastav</div>
            <div class="connections">
                <a href="https://github.com/OJSri">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/ojesh-srivastav-a28069164/">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>
        </div>
        <div>
            <div>Dhruv Srivastava</div>
            <div class="connections">
                <a href="https://github.com/ChaoticNebula5">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/dhruv-srivastava-055ab232a/">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>
        </div>
        <div>
            <div>Rohit Singhal</div>
            <div class="connections">
                <a href="https://github.com/rohitsinghal123">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/rohit-singhal-580682267/">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>
        </div>
    </main>
{% endblock %}