{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div>
            <div class="big">D</div>
            <div>Dhruv Srivastava</div>
            <img class="pfp" src="https://i.ibb.co/xswcrCt/Whats-App-Image-2024-10-06-at-14-35-07.jpg" width="128px">
            <div class="connections">
                <a href="https://github.com/ChaoticNebula5" target="_blank">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/dhruv-srivastava-055ab232a/" target="_blank">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>
        </div>
        <div>
            <div class="big">O</div>
            <div>Ojesh Srivastav</div>
            <img class="pfp" src="https://i.ibb.co/tcckj08/Whats-App-Image-2024-10-06-at-15-10-59.jpg" width="128px">
            <div class="connections">
                <a href="https://github.com/OJSri" target="_blank">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/ojesh-srivastav-a28069164/" target="_blank">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>
        </div>
        <div>
            <div class="big">R</div>
            <div>Rohit Singhal</div>
            <img class = "pfp" src="https://i.ibb.co/Kbr6x27/IMG-2060-3.jpg" width="128px">
            <div class="connections">
                <a href="https://github.com/rohiitsinghal" target="_blank">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/rohit-singhal-580682267/" target="_blank">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>
        </div>
        <div>
            <div class="big">A</div>
            <div>Aargh Rai</div>
            <img class= "pfp" src="https://i.ibb.co/5kSJHQ7/me.jpg" width="128px">
            <div class="connections">
                <a href="https://github.com/FloatingComet62" target="_blank">
                    <i class="iconoir-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/aargh-rai-40900524a/" target="_blank">
                    <i class="iconoir-linkedin"></i>
                </a>
            </div>
        </div>
    </main>
{% endblock %}