{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/events.css' %}">
{% endblock %}
{% block content %}
    <div class="events">
        {% for event in events %}
            <div class="event">
                <div class="name">{{ event.name }}</div>
                <div class="when_where">
                    <div class="date">{{ event.date }}</div>
                    <div class="location">{{ event.location }}</div>
                </div>
                <div class="description">{{ event.description }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
