{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/events.css' %}">
{% endblock %}
{% block content %}
    <div class="events">
        <div class="event">
            <div class="name">Samuhik Sambhog</div>
            <div class="when_where">
                <div class="date">2024-10-06</div>
                <div class="location">Nirvana</div>
            </div>
            <div class="description">20 girls from E hostel + 5 boys from J hostel</div>
        </div>
        <div class="event">
            <div class="name">Samuhik Sambhog</div>
            <div class="when_where">
                <div class="date">2024-10-06</div>
                <div class="location">Nirvana</div>
            </div>
            <div class="description">20 girls from E hostel + 5 boys from J hostel</div>
        </div>
        <div class="event">
            <div class="name">Samuhik Sambhog</div>
            <div class="when_where">
                <div class="date">2024-10-06</div>
                <div class="location">Nirvana</div>
            </div>
            <div class="description">20 girls from E hostel + 5 boys from J hostel</div>
        </div>
    </div>
{% endblock %}
