{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}
{% block content %}
    <div class="username">{{ user_data.name }}</div>
    <h1 class="profile_section">Wishlisted Books</h1>
    <div class="wishlist">
        {% for book in user_data.wishlisted_books %}
            <a class="book" href="/{{ book.link }}">
                {{ book.name }}
            </a>
        {% endfor %}
    </div>
    <h1 class="profile_section">Reviews</h1>
    <div class="reviews">
        {% for review in reviews %}
            <a class="review" href="{{ review.book_link }}">
                <div class="info">
                    <div class="book_name">{{ review.book_name }}</div>
                    <div class="rating">
                        {% for _ in review.rating %}
                            <i class="iconoir-star-solid"></i>
                        {% endfor %}
                    </div>
                </div>
                <div class="message">{{ review.message }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
